@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .responsive-navigators {
    position: fixed;
    width: 50%;
    z-index: 100000;
    height: 100vh;
  }
  .header-2 {
    z-index: 1000;
  }
  .home .header-2 .navigators .nav-items {
    display: none;
  }
  .button {
    margin-top: -1.5rem;
  }
  .nav-open {
    display: block;
    margin-top: 0.3rem;
  }
  .home .header-1 .left-side {
    display: none;
  }
  .home .header-1 .right-side {
    margin: 0 auto;
  }
  .home .home-content {
    top: 40%;
  }
  .btn-2 span {
    width: 28%;
  }
  .about .box-container .description {
    margin-top: 0;
  }
  .about .box-container .images {
    padding: 3rem;
  }
  .about .box-container .images .image-3 {
    left: 0%;
  }
  .about .box-container .images .image-3::before {
    height: 35rem;
  }
  .dish .box-container .description {
    margin-top: 7rem;
    display: block;
    text-align: center;
    padding: 0;
    padding: 0 2%;
  }
  .dish .box-container .description .content p {
    width: 80%;
  }
  .dish .box-container .description .badge {
    margin-bottom: 4rem;
  }
  .dish .box-container .description .content a {
    margin: 0 auto;
  }
  .dish .box-container .image-bg {
    overflow: hidden;
    object-fit: cover;
  }
  .dish .box-container .image-bg img:hover {
    transform: scaleY(1.2);
  }
  .dish .box-container .image-bg img {
    height: 60rem;
  }
  .menu .menu-container .box-container {
    gap: 0;
  }
  .menu .menu-container .time-btn {
    margin-top: 0rem;
  }
  .reserve .reserve-container .reserves {
    padding: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 49.5%;
  }
  .responsive-navigators {
    width: 80%;
  }
  .btn-2 span {
    width: 45%;
  }
  .button {
    margin-top: -2.5rem;
  }
  .nav-open {
    margin-top: -1rem;
  }
  .btn-1 span {
    padding: 2.2rem 3.5rem;
  }
  .home .header-2 {
    top: 9%;
  }
  .logo img {
    width: 15rem;
  }
  .home .home-content .contents h1 {
    width: 80%;
  }
  .flavour-bg-1,
  .flavour-bg-2 {
    visibility: hidden;
  }
  .flavours .flavour-desc p {
    width: 90%;
  }
  .flavour .box-container {
    margin-top: 5rem;
  }
  .flavour .box-container .box:nth-child(2) {
    margin-top: 0;
  }
  .flavour .box-container .box .image-text {
    margin-top: 2rem;
  }
  .flavour .box-container .box .image img {
    padding: 2rem 2%;
    width: 45rem;
  }
  .about .box-container .description p {
    width: 100%;
  }
  .about .box-container .images .image-2 {
    top: -7%;
    right: -79%;
  }
  .reserve .reserve-container {
    position: absolute;
    top: 55%;
    width: 100%;
  }
  .reserve .reserve-container .reserve-form {
    padding-bottom: 3rem;
  }
  .reserve .reserve-container .reserve-form .persons {
    flex-wrap: wrap;
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
  }
  .reserve .reserve-container .reserve-form .persons input,
  .reserve .reserve-container .reserve-form .persons select {
    width: fit-content;
    padding-right: 2rem;
    padding-left: 0.5rem;
  }
  .reserve .reserve-container .reserve-form .persons i {
    display: none;
  }
}
